*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.rar
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
*.lock
*.ini
*.metadata
*.recommenders
/Projects/ExternalSort/.metadata
/Projects/ExternalSort/.recommenders
/Projects/ExternalSort/.settings
/Projects/ExternalSort/externalsort/bin
/Projects/ExternalSort/externalsort/.classpath
/Projects/ExternalSort/externalsort/.project
/Projects/ExternalSort/externalsort/log
/Projects/ExternalSort/externalsort/.gitignore
/Algorithm/Java/.metadata
/Algorithm/Java/.recommenders
/Algorithm/Java/Excel Sheet Column Number/bin
/Algorithm/Java/Excel Sheet Column Number/.settings
*.classpath
*.project
*.gif
*.png
*.jpg
*.settings
/Projects/iCHD/__pycache__
#*.crf
#*.o
#*.d
#*.h
#*.lst
#*.htm
#*.lnp
#*.axf
#*.dep
#*.sct
#*.map
#*.uvproj
#/miniSTM32/HelloWorld/stm32f10x_it.c
#/miniSTM32/HelloWorld/system_stm32f10x.c
#/miniSTM32/CORE
#/miniSTM32/OBJ
#/miniSTM32/STM32F10x_FWLib
*.suo
*.exe
*.ilk
*.pdb
*.opendb
*.sln
*.tlog
*.lastbuildstate
*.idb
*.filters
*.obj
*.vcxproj
*.db
/Scrapy/tutorial/*.html
*.pyc
*.xml
*.traineddata
*.conf
*.dll
*.patterns
*.sqlite3
