*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log
*.lock
*.ini

/Projects/ExternalSort/.metadata
/Projects/ExternalSort/.recommenders
/Projects/ExternalSort/.settings
/Projects/ExternalSort/externalsort/bin
/Projects/ExternalSort/externalsort/.classpath
/Projects/ExternalSort/externalsort/.project
/Projects/ExternalSort/externalsort/log
/Projects/ExternalSort/externalsort/.gitignore
/Algorithm/Java/.metadata
/Algorithm/Java/.recommenders
/Algorithm/Java/Excel Sheet Column Number/bin
/Algorithm/Java/Excel Sheet Column Number/.settings
*.classpath
*.project
*.gif
*.png
*.jpg
*.settings
/Projects/iCHD/__pycache__