
{% if auth == True %}
<h2>你当前共有{{ illegals.count }}个中介待审核</h2>
{% for illegal in illegals %}
<p>{{ forloop.counter }}. <a href="/HouseRent/admin/check/{{ illegal.username }}/">{{ illegal.username }}</a></p>
{% endfor %}
<h2>当前的个人用户</h2>
{% for normalUser in normalUsers %}
{% if normalUser.username != 'admin' %}
<p>{{ forloop.counter }}. <a href="/HouseRent/admin/analysis/{{ normalUser.username }}/">{{ normalUser.username }}</a></p>
{% endif %}
{% endfor %}
<h2>当前的中介用户</h2>
{% for medium in mediums %}
<p>{{ forloop.counter }}. <a href="/HouseRent/admin/analysis/{{ medium.username }}/">{{ medium.username }}</a></p>
{% endfor %}
{% endif %}
{% if auth == False %}
<form method="post">
{% csrf_token %}
<input type="text" name="adminname" placeholder="管理员"/>
<input type="password" name="password" placeholder="密码"/>
<input type="submit"/>
</form>
{% endif %}
